# Web scraping mes agosto

In [275]:
import requests

In [276]:
from bs4 import BeautifulSoup

In [277]:
import pandas as pd

In [1]:
def convertir_celsius(lista):
    lista_llena=[]
    for i in range(2,len(lista)):
        celsius=int(lista[i].text.strip('Â°'))
        celsius=(celsius-32)*0.55
        lista_llena.append(round(celsius))
    return lista_llena

In [279]:
pagina_scraping=requests.get('https://weather.com/es-US/tiempo/mensual/l/73f9ca81b32a2ddb370804fe05524de9cb425571bd1f416f4ac887a4174633cf')
soup=BeautifulSoup(pagina_scraping.text,'html.parser')

In [280]:
lista_dias=[]
days=soup.find_all("span",class_="CalendarDateCell--date--JO3Db")
for i in range(2,10):
    lista_dias.append(int(days[i].text))

In [281]:
lista_tem_max=[]
max_temp=soup.find_all("div",class_="CalendarDateCell--tempHigh--3k9Yr")
lista_tem_max=convertir_celsius(max_temp)

In [282]:
lista_tem_min=[]
min_temp=soup.find_all("div",class_="CalendarDateCell--tempLow--2WL7c")
lista_tem_min=convertir_celsius(min_temp)

In [283]:
dataf={
    "Dias":lista_dias,
    "Temperaturas Maxima":lista_tem_max,
    "Temperaturas Minima":lista_tem_min

}

In [284]:
df=pd.DataFrame(dataf)
df.to_csv('../Proyecto/temperaturas_AGOSTO.csv')

In [285]:
df

   Dias  Temperaturas Maxima  Temperaturas Minima
0     1                   28                   12
1     2                   29                   12
2     3                   28                   13
3     4                   26                   13
4     5                   25                   12
5     6                   24                   12
6     7                   28                   12
7     8                   28                   14